h1 채팅방 대기실

if (isSuccss)
	p #{nick} 님 환영합니다.

	p
		h2 대화방 목록

	each room, i in RoomList
		p.p1
			a.link(href='/chat_RoomIn/#{room}') #{room}

	form(action='/chat_roomMake', method='post')
		p
			| 방제
			input#roomname(type='text', name='roomname')
			input(type='submit', value='만들기')
else
	if(nick == '')
		script
			alert('잘못된 닉네임 입니다.');
			history.go(-1);
	else
		script
			alert('이미 사용중인 아이디입니다.');
			history.go(-1);


script
	$(function() {
		$("form").submit(function(e){
			if($("#roomname").val() == '') {
				alert('방제목을 입력해 주세요.');
				return false;
			}
		});
	});