
h1 Node.js with HMTL5, CSS3, JQuery

p.p1
	a.dialog_link.ui-state-default.ui-corner-all
		span.ui-icon.ui-icon-newwin	
		| 로그인
p.p1
	a.dialog_link.ui-state-default.ui-corner-all(href='/join')
		span.ui-icon.ui-icon-newwin	
		| 회원가입
p.p1
	a.dialog_link.ui-state-default.ui-corner-all(href='/member')
		span.ui-icon.ui-icon-newwin	
		| 회원목록
p.p1
	a.dialog_link.ui-state-default.ui-corner-all(href='/board')
		span.ui-icon.ui-icon-newwin	
		| 게시판
p.p1
	a.dialog_link.ui-state-default.ui-corner-all(href='/ball')
		span.ui-icon.ui-icon-newwin	
		| 볼 테스트
p.p1
	a.dialog_link.ui-state-default.ui-corner-all(href='/ui')
		span.ui-icon.ui-icon-newwin	
		| JQuery UI

p.p1
	a.dialog_link.ui-state-default.ui-corner-all(href='/chat_main')
		span.ui-icon.ui-icon-newwin	
		| 채팅

p.p1
	a.dialog_link.ui-state-default.ui-corner-all(href='/session_test')
		span.ui-icon.ui-icon-newwin
		| Session

p.p1
	a.dialog_link.ui-state-default.ui-corner-all(href='/iframe')
		span.ui-icon.ui-icon-newwin
		| IFRAME & Smart Editor

p.p1
	a.dialog_link.ui-state-default.ui-corner-all(href='/postit')
		span.ui-icon.ui-icon-newwin
		| Post It